<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Microservices : Spring Boot with Thymeleaf</title>
</head>
<body>
	<h1 layout:fragment="header">Microservices : Spring Boot with Thymeleaf</h1>
	<div layout:fragment="content">
		<p>Welcome! Microservice with Spring Tutorials!</p>
		<p>This courese includes Spring Boot with Thymeleaf lectures. 
		And He is my lovely son! :) </p>
	</div>
</body>
</html>